.todos {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: min-content;
  background-color: var(--bg-white);
  backdrop-filter: blur(20px);
}

.todos__heading {
  font-size: 30px;
  color: white;
}

.container {
  margin: 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.completed {
  background-color: var(--bg-grey-200);
  backdrop-filter: blur(20px);
}

@media screen and (min-width: 700px) {
  .todos {
    width: 100%;
  }
  .container {
    gap: 10px;
    flex-direction: row;
  }
}
